*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  cursor: url("/img/regular-cursor.png") 2 2, default; }

img {
  max-width: 100%;
  height: auto;
  width: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.marquee {
  width: calc(100% + 4rem);
  transform: translateX(-2rem);
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* background: #ccc; */
  z-index: 9999;
  pointer-events: none;
  text-transform: uppercase;
  padding: 0 1rem 2rem;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem; }

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  background: #FFF;
  border-bottom: 1px solid #000;
  z-index: 100;
  display: grid;
  grid-template-columns: 6fr 4fr; }
  #navigation__menu {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center; }
    #navigation__menu li {
      padding: 1rem;
      width: 100%; }

#students {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px; }
  #students.selected {
    position: fixed;
    grid-template-columns: repeat(43, 1fr);
    bottom: 0;
    z-index: 22;
    width: calc(10vw * 43); }

#student {
  margin-top: 3.125vw;
  padding-bottom: calc(6.25vw + 1em);
  display: grid;
  grid-template-columns: 6fr 4fr;
  position: relative;
  z-index: 20; }

.student--left,
.student--right {
  padding: 1rem; }

.student--right .stick {
  position: -webkit-sticky;
  position: sticky;
  top: 3.5vw; }

.student {
  height: 12.5vw;
  position: relative;
  box-shadow: 0 0 0 1px #000;
  cursor: url("/img/hover-cursor.png") 2 2, pointer !important;
  background: #FFF; }
  .selected .student {
    height: 6.25vw; }
  .student .initials {
    width: 8rem;
    height: 8rem;
    background: white;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    pointer-events: none; }
  .student.selected .initials {
    width: 6rem;
    height: 6rem; }
  .student .profile-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    z-index: 16;
    opacity: 0;
    transition: all 0.3s; }
  .student .thumb-img {
    width: 100%;
    height: 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    z-index: 16;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s; }
  .student .profile-name {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    padding: 0.5em;
    background: #CCFF00;
    opacity: 0;
    transition: all 0.1s;
    z-index: 20; }
  .student.active, .student:hover {
    border: 4px solid #CCFF00;
    z-index: 22; }
  .student.active .initials,
  .student:hover .initials {
    opacity: 0;
    transform-origin: 65% 65%;
    transform: scale(4);
    z-index: 16; }
  .student.active .profile-img,
  .student.active .profile-name,
  .student:hover .profile-img,
  .student:hover .profile-name {
    opacity: 1; }
  .student.active .thumb-img,
  .student:hover .thumb-img {
    transition-delay: 0.75s;
    opacity: 1; }

.gallery ul {
  list-style-type: none; }

.gallery ul li {
  width: 100%; }

.gallery img {
  width: 100%; }

.project-vid {
  margin-bottom: 2rem; }

#filters,
#about {
  padding: 1em;
  position: fixed;
  z-index: 100;
  background: white;
  border-left: 1px solid #000;
  width: 20vw;
  height: calc(100vh - 6rem);
  top: 6rem;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  padding-bottom: 2em; }

#filters {
  overflow-y: scroll; }

.about-active #about,
.filter-active #filters {
  opacity: 1;
  pointer-events: all; }

.about-active #students,
.filter-active #students {
  width: 80vw;
  grid-template-columns: repeat(4, 1fr); }

@media (max-width: 1000px) {
  #navigation {
    position: static;
    height: auto;
    display: block;
    grid-template-columns: 6fr 4fr;
    text-align: center; }
  #students {
    margin-top: 0;
    transition: all 0.3s;
    grid-template-columns: repeat(2, 1fr); }
  .student {
    height: 30vw; } }

@font-face {
  font-family: "suisse";
  src: url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Regular-WebS.woff2") format("woff2"), url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Regular-WebS.woff") format("woff"), url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Regular-WebS.eot") format("eot"), url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Regular-WebS.svg") format("svg"), url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Regular-WebS.ttf") format("ttf"); }

@font-face {
  font-family: "suisse";
  src: url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Light-WebM.woff") format("woff");
  font-weight: 100; }

body {
  font-family: 'suisse'; }

a:link,
a:visited {
  color: #000;
  text-decoration: underline;
  cursor: url("/img/hover-cursor.png") 2 2, pointer; }

nav li {
  cursor: url("/img/hover-cursor.png") 2 2, pointer;
  font-size: 3rem; }

.filter-active #menu-filter,
.about-active #menu-about,
nav li:hover,
a:hover {
  color: #CCFF00;
  text-decoration: none; }

h1 {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  cursor: url("/img/hover-cursor.png") 2 2, pointer; }

#site-title {
  position: fixed;
  z-index: 15;
  pointer-events: none;
  text-transform: uppercase;
  font-size: 17.5vw;
  line-height: 1em;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10rem);
  opacity: 0.5;
  transition: all 0.3s; }

#site-title.active {
  opacity: 1;
  filter: blur(1rem); }

h2 {
  min-height: 11rem;
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 0.85em; }

h2.student-name {
  font-weight: 100; }

.image-field-caption {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: right; }

p {
  margin-bottom: 0.5em; }

#tags-filter,
#students-filter {
  list-style-type: none; }

.tag-filter {
  display: inline-block;
  border: 1px solid #000;
  margin: 0.15em;
  padding: 0.2em;
  cursor: url("/img/hover-cursor.png") 2 2, pointer;
  font-size: 0.75em; }

.tag-filter:hover,
.tag-filter.active {
  background: #CCFF00; }

.student-filter {
  cursor: url("/img/hover-cursor.png") 2 2, pointer; }
  .student-filter .initials {
    border: 2px solid #000;
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0.3em;
    font-size: 0.75em; }
  .student-filter:hover, .student-filter:active {
    color: #CCFF00; }
  .student-filter:hover .initials,
  .student-filter:active .initials {
    color: black;
    background: #CCFF00; }
