*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: 400; }

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.125vw;
  background: #FFF;
  border-bottom: 1px solid #000;
  z-index: 10;
  display: grid;
  grid-template-columns: 2fr 3fr; }
  #navigation__menu {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }

#students {
  margin-top: 3.125vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px; }

#student {
  margin-top: 3.125vw; }

.student {
  height: 12.5vw;
  position: relative;
  box-shadow: 0 0 0 1px #000;
  cursor: pointer; }
  .student .initials {
    width: 8rem;
    height: 8rem;
    background: white;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s; }
  .student .profile-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.3s; }
  .student .thumb-img {
    width: 100%;
    height: 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.3s; }
  .student .profile-name {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    padding: 0.5em;
    background: #CCFF00;
    opacity: 0;
    transition: all 0.1s;
    border-top: 2px solid #FFF;
    border-left: 2px solid #FFF; }
  .student:hover .initials {
    opacity: 0;
    transform-origin: 65% 65%;
    transform: scale(4); }
  .student:hover .profile-img,
  .student:hover .profile-name {
    opacity: 1; }
  .student:active .thumb-img {
    opacity: 1; }

h1 {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 2rem; }

#site-title {
  position: fixed;
  font-size: 18vw;
  pointer-events: none;
  text-transform: uppercase;
  line-height: 0.8em; }
