
//menu 

#navigation {
    position:fixed; 
    top:0;
    width:100%;
    height:3.125vw;
    background:#FFF;
    border-bottom:1px solid #000;
    z-index:100;
    display:grid;
    grid-template-columns: 6fr 4fr;

    &__menu {
        width:100%;
        height:100%;
        list-style-type:none;
        display:flex;
        // justify-content: space-around;
        align-items: center;

        & li {
            padding:1rem;
            width:100%;
        }
    }
}




// this is the big grid

#students {
    margin-top:3.125vw;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-gap:1px;

    &.selected {
        position: fixed;
        grid-template-columns: repeat(43, 1fr);
        bottom: 0;
        // top: 38.25vw;
        z-index: 11;
        width: calc(10vw * 43);
    }

}


#student {
    margin-top:3.125vw;
    padding-bottom: calc(6.25vw + 1em);
     display:grid;
    grid-template-columns:6fr 4fr;



}

.student--left,
.student--right {
    padding:1rem;
}


.student--right .stick{
    position: -webkit-sticky;
position: sticky;
top: 3.5vw;
}



.student {
    
    height: 12.5vw;
    position:relative;
    box-shadow:0 0 0 1px #000;
    cursor:pointer;
    background:#FFF;

    .selected & {
        height: 6.25vw
    }

    & .initials {
        width:8rem;
        height:8rem;
        background:white;
        border:1px solid #000;
        border-radius:50%;
        position:absolute;
        top:50%; left:50%;
        z-index:20;
        transform:translate(-50%,-50%);
        display:flex;
        align-items: center;
        justify-content: center;
        transition:all 0.2s;
        pointer-events:none;
        
    }

    &.selected .initials {
        width:6rem;
        height:6rem;
    }

    & .profile-img {
        width:100%;
        height:100%;
        background-size:cover;
        background-position:center center;
        position:absolute;
        top:0;
        z-index:16;
        opacity:0;
        transition:all 0.3s
    }


    & .thumb-img {
        width:100%;
        height:100%;
        //background-size:cover;
       
        background-position:center center;
        position:absolute;
        top:0;
        z-index:16;
        opacity:0;
        transition-property: opacity;
        transition-duration: 0.3s;
        
    }

    & .profile-name {
        position:absolute;
        bottom:0;
        right:0;
        font-size:1.5rem;
        padding:0.5em;
        // color:#FFF;
        background:$color-green;
        opacity:0;
        transition:all 0.1s;
        z-index:20;
        
        
    }

    &.active,
    &:hover {
        border:4px solid $color-green;
        z-index:22;

    }

    &.active .initials,
    &:hover .initials {
        opacity:0;
        transform-origin: 65% 65%;
        transform:scale(4);
        z-index:16;
        
        
    }

    &.active .profile-img,
    &.active .profile-name,
    &:hover .profile-img,
    &:hover .profile-name{
        opacity:1;
    }

    &.active .thumb-img,
    &:hover .thumb-img {
        transition-delay: 0.75s;
        opacity:1;
    }

}


.gallery ul { list-style-type: none;}
.gallery ul li {
    width:100%;
    // height:100vh;
    // display:flex;
    // justify-content: center;
    // align-items: center;
}

// blockquote {
//     display:none;
// }

.gallery img {
    width:100%;
}

.project-vid {
    margin-bottom:2rem
}



//this is temporary
#filters {
    position: absolute;
    z-index: 100;
    background: white;
    border-left: 1px solid #000;
    width: 20vw;
    top: 3.125vw;
    right: 0;
    min-height: 96.875vw;
    opacity:0;
    pointer-events: none;
    transition:all 0.2s;

    
} 

#filters.active {
    opacity:1;
    pointer-events: all;

}


@media (max-width:1000px) {

    #navigation {
        position:static;
        height:auto;
        
        
        display: block;
        grid-template-columns: 6fr 4fr;
        text-align:center

    }

    #students {
        margin-top: 0;
        
        grid-template-columns: repeat(2, 1fr);
        
    }

    .student {
        height:30vw;
    }
}
