
//menu 

#navigation {
    position:fixed; 
    top:0;
    width:100%;
    height:3.125vw;
    background:#FFF;
    border-bottom:1px solid #000;
    z-index:100;
    display:grid;
    grid-template-columns: 3fr 2fr;

    &__menu {
        width:100%;
        height:100%;
        list-style-type:none;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
}




// this is the big grid

#students {
    margin-top:3.125vw;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-gap:1px;

    &.selected {
        position: fixed;
        grid-template-columns: repeat(8, 1fr);
        top: 44.5vw;
        // top: 38.25vw;
        z-index: 11;
        width: 100%;
    }

}


#student {
    margin-top:3.125vw;
    // display:grid;
    // grid-template-columns:repeat(5, 1fr);
    // grid-gap:1px;


}




.student {
    
    height: 12.5vw;
    position:relative;
    box-shadow:0 0 0 1px #000;
    cursor:pointer;
    background:#FFF;

    .selected & {
        height: 6.25vw
    }

    & .initials {
        width:8rem;
        height:8rem;
        background:white;
        border:1px solid #000;
        border-radius:50%;
        position:absolute;
        top:50%; left:50%;
        z-index:20;
        transform:translate(-50%,-50%);
        display:flex;
        align-items: center;
        justify-content: center;
        transition:all 0.1s
        
    }

    & .profile-img {
        width:100%;
        height:100%;
        background-size:cover;
        background-position:center center;
        position:absolute;
        top:0;
        
        opacity:0;
        transition:all 0.3s
    }


    & .thumb-img {
        width:100%;
        height:100%;
        //background-size:cover;
       
        background-position:center center;
        position:absolute;
        top:0;
        
        opacity:0;
        transition:all 0.3s
    }

    & .profile-name {
        position:absolute;
        bottom:0;
        right:0;
        font-size:1.5rem;
        padding:0.5em;
        // color:#FFF;
        background:$color-green;
        opacity:0;
        transition:all 0.1s;
        
        
    }

    &:hover {
        border:2px solid $color-green;

    }

    &:hover .initials {
        opacity:0;
        transform-origin: 65% 65%;
        transform:scale(4);
        
    }

    &:hover .profile-img,
    &:hover .profile-name,{
        opacity:1;
    }

    &:active .thumb-img {
        opacity:1;
    }
}


.gallery ul { list-style-type: none;}
.gallery ul li {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

blockquote {
    display:none;
}