@font-face {
    font-family: "suisse";
    src: url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Regular-WebS.woff2") format("woff2"),
         url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Regular-WebS.woff") format("woff"),
         url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Regular-WebS.eot") format("eot"),
         url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Regular-WebS.svg") format("svg"),
         url("https://alisq.github.io/2021-gradex/fonts/SuisseIntl-Regular-WebS.ttf") format("ttf");
  }

  body {
      font-family: 'suisse';
  }


  
a:link,
a:visited {
    color:#000;
    text-decoration:underline;
    
}


nav li {
    cursor:pointer;
    font-size:3rem;
}

.filter-active #menu-filter,
.about-active #menu-about,
nav li:hover,
a:hover {
    color:$color-green;
    text-decoration:none;    
}



h1 {
    height:100%;
    display:flex;
    align-items: center;
    padding-left:1rem;
    cursor:pointer;
}


#site-title {
    position:fixed;
    z-index:15;
    pointer-events:none;
    text-transform:uppercase;
    font-size: 17.5vw; 
    line-height: 1em;
    top: 54%;
    left:50%;
    transform:translate(-50%,-50%);
    filter:blur(10rem);
    opacity:0.2;
    transition:all 0.3s;
}
#site-title.active {
    opacity:1;
    filter:blur(1rem);
}


h2 {
    min-height:11rem;
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 0.85em;
    // max-width: 50%;
}

.image-field-caption {
    font-size:1.5rem;
    margin-bottom:2rem;
}

p {
    margin-bottom:0.5em;
}

#tags-filter,
#students-filter {
    list-style-type:none;
}

.tag-filter {
    display:inline-block;
    border:1px solid #000;
    margin:0.15em;
    padding:0.2em;
    cursor:pointer;
    font-size:0.75em;

}


.tag-filter:hover,
.tag-filter.active {
    background:$color-green;
}

.student-filter {
    cursor:pointer;


    & .initials {
        border: 2px solid #000;
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin:0.3em;
    font-size:0.75em;
    
    }


    &:hover,
    &:active {
        color: $color-green;
    }


    &:hover .initials,
    &:active .initials {
        color:black;
        background: $color-green;
    }
}